In [1]:
import pandas as pd

Download dataframe

In [34]:
df = pd.read_csv('data/data1.csv', encoding='1251')

In [4]:
pd.set_option('display.max_columns', 40)
pd.set_option('display.float_format', '{:.2f}'.format)

Assess the structure

In [5]:
df.head()

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,DR_Suppl,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
0,2022-08-01,08:06:18,1272,13002561,13,22589,Розничная реализация,18,144734,ГАСТАЛ №12 ТАБ. Д/РАСС.,Пульс,TEVA Pharvaceutical Industries Ltd,1.00,196.71,270.00,0.00,NaN,NaN,29,1,1.00
1,2022-08-01,08:38:53,1273,13002561,13,22589,Розничная реализация,15,69661,"ТОБРОПТ 0,3% 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /РОМФАРМ/",Пульс,РОМФАРМ КОМПАНИ ( ROMPHARM ),1.00,106.21,127.00,6.00,9.00,200010004357.00,29,1,1.00
2,2022-08-01,08:55:38,1274,13002561,13,22589,Розничная реализация,18,190635,ЭЛИКВИС 5МГ. №60 ТАБ. П/П/О /ПФАЙЗЕР/БРИСТОЛ-М...,ГРАНД КАПИТАЛ СМОЛЕНСК ООО ФК,Пфайзер,1.00,2320.99,2563.00,76.00,9.00,200010018491.00,29,1,1.00
3,2022-08-01,09:00:40,1275,13002561,13,22589,Розничная реализация,18,276370,АРБИДОЛ МАКСИМУМ 200МГ. №10 КАПС. /ОТИСИФАРМ/Ф...,Пульс,ОТИСИФАРМ ПАО,1.00,445.39,541.00,0.00,NaN,NaN,29,1,1.00
4,2022-08-01,09:04:05,1276,13002561,13,22589,Розничная реализация,15,2303,"ЭНАМ 2,5МГ. №20 ТАБ. /Д-Р РЕДДИ/",Протек,Д-р Редди с Лабораторис Лтд / Dr.REDDY's,1.00,18.04,22.00,1.00,9.00,200010000734.00,29,1,5.00

In [6]:
df['DR_Dat'].unique()

array(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
       '2022-08-05'], dtype=object)

In [7]:
df['DR_Apt'].unique()

array([13], dtype=int64)

Count sum of sales for each period (in this case day)

In [36]:
df = df.groupby('DR_Dat').apply(lambda x: pd.Series({'revenue': sum(x['DR_Kol'] * x['DR_CRoz'] - x['DR_SDisc'])})).reset_index()

In [40]:
df

       DR_Dat  revenue  revenue_d
0  2022-08-01 84681.52        NaN
1  2022-08-02 71389.37      -0.16
2  2022-08-03 78050.82       0.09
3  2022-08-04 59187.36      -0.24
4  2022-08-05 56458.81      -0.05

Count dynamics with the help of "rolling"

In [39]:
df ['revenue_d']=df['revenue'].rolling(2).apply(lambda x: (x.iloc[1]-x.iloc[0])/x.iloc[0])

Another way to count dynamics using "shift"

In [42]:
df['revenue_shifted']=df['revenue'].shift(1)

In [46]:
df['revenue_d2'] = (df['revenue']-df['revenue_shifted'])/df['revenue_shifted']
df

       DR_Dat  revenue  revenue_d  revenue_shifted  revenue_d2
0  2022-08-01 84681.52        NaN              NaN         NaN
1  2022-08-02 71389.37      -0.16         84681.52       -0.16
2  2022-08-03 78050.82       0.09         71389.37        0.09
3  2022-08-04 59187.36      -0.24         78050.82       -0.24
4  2022-08-05 56458.81      -0.05         59187.36       -0.05

One more way to count dynamics using "pct_change"

In [47]:
df['revenue_d3']= df['revenue'].pct_change(1)
df

       DR_Dat  revenue  revenue_d  revenue_shifted  revenue_d2  revenue_d3
0  2022-08-01 84681.52        NaN              NaN         NaN         NaN
1  2022-08-02 71389.37      -0.16         84681.52       -0.16       -0.16
2  2022-08-03 78050.82       0.09         71389.37        0.09        0.09
3  2022-08-04 59187.36      -0.24         78050.82       -0.24       -0.24
4  2022-08-05 56458.81      -0.05         59187.36       -0.05       -0.05